default:
  tags:
    - bachelor
  image: registry.gitlab.com/hitchhikers/container-images/python-quality:latest

include:
  - template: Code-Quality.gitlab-ci.yml

code_quality:
  services: # Shut off Docker-in-Docker
  tags:
    - cq-sans-dind # Set this job to only run on our new specialized runner

# .lint_job: &lint_job
# .test_job: &test_job

style:
  script:
    - isort --check --diff .
    - black --check --diff .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: manual
      allow_failure: false

docs:
  script:
    - pydocstyle
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: manual
      allow_failure: true

pyright:
  before_script:
    - cd ${MODULE}
    - poetry install
    - source .venv/bin/activate
  script:
    - pyright .
  allow_failure: true
  parallel:
    matrix:
      - MODULE:
          - ml
          - tracing
          - ui
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: manual

# Publish new releases/tags when applicable from the commits
release:
  stage: .post
  script:
    - semantic-release
  only:
    - master
