@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Example taken from the interwebs and needs more refining
 * https://code.iamkate.com/html-and-css/tabbed-panels/
 */

/* .icon-document { */
/*   background: url('data:image/svg+xml;utf8,<svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4z" clip-rule="evenodd"></path></svg>') */
/*     center center no-repeat; */
/* } */

/* .icon-file { */
/*   background: url('data:image/svg+xml;utf8,<svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"></path></svg>') */
/*     center center no-repeat; */
/* } */

.tabbed > input {
  display: none;
}

.tabbed > input:not(:checked) + section > div {
  display: none;
}

.tabbed > section > h3 {
  float: left;
}

.tabbed > section > div {
  float: right;
  width: 100%;
  margin: 2.5em 0 0 -100%;
}

.tabbed {
  float: left;
  width: 100%;
}

.tabbed > section > h3 > label {
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.tabbed > section > div {
  box-sizing: border-box;
  padding: 0.5em 0.75em;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.0625);
  background: #fff;
}

.tabbed > section > h3 {
  box-sizing: border-box;
  margin: 0;
  padding: 0.5em 0.5em 0;
  overflow: hidden;
  font-size: 1em;
  font-weight: normal;
}

.tabbed > section > h3 > label {
  display: block;
  padding: 0.25em 0.75em;
  border: 1px solid #ddd;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.0625);
  background: #fff;
}

.tabbed > input:first-child + section > h3 {
  padding-left: 1em;
}

.tabbed > section > div {
  position: relative;
  z-index: 1;
}

.tabbed > input:checked + section > h3 {
  position: relative;
  z-index: 2;
}
