{% extends "base.html" %} {% block main %}
<main class="container flex flex-col mx-auto p-8">
  <div class="border-b-2 mb-4">
    <ul class="">
      <li class="inline">
        <a href="{{ url_for('index') }}">Home</a>
      </li>
      <li class="inline">
        <svg
          class="inline w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </li>
      <li class="inline">Projects</li>
    </ul>
  </div>
  <div class="flex-none text-center">
    <h1 class="py-1 mb-3 text-3xl">Projects</h1>
  </div>
  <nav class="flex flex-none justify-end mb-4">
    <a
      class="transition duration-1000 transform hover:rotate-90 rounded-full p-2 bg-gray-100 shadow border border-gray-200 hover:bg-gray-200 flex flex-row items-center"
      href="{{ url_for('projects_bp.projects_project_new') }}"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 6v6m0 0v6m0-6h6m-6 0H6"
        ></path>
      </svg>
    </a>
  </nav>
  <div class="">
    <div
      class="w-1/2 border border-gray-200 p-4 rounded-md shadow-lg bg-gray-100"
    >
      <div>
        <div class="flex flex-row mb-2">
          <div class="w-2/5 mr-2">
            <img
              class="rounded object-contain shadow-sm"
              src="{{ url_for('static', filename='nemo.png') }}"
              alt="Project Logo"
            />
          </div>
          <div class="w-3/5">
            <h3 class="text-xl font-medium mb-1 truncate">Vårflom i Mjøsa</h3>
            <div><span class="inline-block w-16">Nummer</span>2324234</div>
            <div>
              <span class="inline-block w-16">Sted</span>Mjøsa, Glomma, Lågen,
              ...
            </div>
            <div>
              <span class="inline-block w-16">Dato</span
              ><time datetime="2018-07-07">July 7, 2018</time>
            </div>
            <div><span class="inline-block w-16">Jobber</span>45</div>
            <div class="flex flex-row items-center">
              <span class="inline-block w-16">Aktiv</span>
              <span class="text-green-600"> Ja </span>
            </div>
          </div>
        </div>
        <div class="flex flex-row justify-between">
          <button class="flex flex-row items-center">
            <span id="project-id-1" class="mr-1">Beskrivelse</span>
            <svg
              class="w-4 h-4 text-gray-400 hover:text-gray-600"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z"
              ></path>
            </svg>
          </button>
          <a
            class="text-white py-2 px-3 border-2 border-blue-500 rounded bg-blue-500 hover:bg-blue-200 hover:border-2 hover:text-black"
            href="{{ url_for('projects_bp.projects_project', project_id
                = 1) }}"
            >Open</a
          >
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
