{% extends "base.html" %} {% block main %}
<main class="container flex flex-col mx-auto p-8">
  <div class="border-b-2 mb-4">
    <ul class="">
      <li class="inline">
        <a href="{{ url_for('index') }}">Home</a>
      </li>
      <li class="inline">
        <svg
          class="inline w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </li>
      <li class="inline">Projects</li>
    </ul>
  </div>
  <div class="flex-none text-center">
    <h1 class="py-1 mb-3 text-3xl">Projects</h1>
  </div>
  <nav class="flex flex-none justify-end mb-4">
    <a
      class="transition duration-1000 transform hover:rotate-90 rounded-full p-2 bg-gray-100 shadow border border-gray-200 hover:bg-gray-200 flex flex-row items-center"
      href="{{ url_for('projects_bp.projects_project_new') }}"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 6v6m0 0v6m0-6h6m-6 0H6"
        ></path>
      </svg>
    </a>
  </nav>
  <div>
    {% if projects|count > 0 %}
    <ul class="flex md:flex-wrap flex-col md:flex-row">
      {% for project in projects %}
      <li class="md:w-1/2 p-2">
        {% include "projects/partials/project_box.html" %}
      </li>
      {% endfor %}
    </ul>
    {% else %} No projects.{% endif %}
  </div>
</main>
{% endblock %}
