{% extends "base.html" %} {% block main %}
<main class="container flex flex-col mx-auto p-8">
  <div class="border-b-2 mb-4">
    <ul class="">
      <li class="inline italic">
        <a href="{{ url_for('index') }}">Home</a>
      </li>
      <li class="inline">
        <svg
          class="inline w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </li>
      <li class="inline italic">
        <a
          href="{{ url_for('projects_bp.projects_index')
                                  }}"
          >Projects</a
        >
      </li>
      <li class="inline">
        <svg
          class="inline w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </li>
      <li class="inline italic">
        <a
          href="{{ url_for('projects_bp.projects_project', project_id=1)
                                  }}"
          >Vårflom i Mjøsa</a
        >
      </li>
      <li class="inline">
        <svg
          class="inline w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </li>
      <li class="inline font-medium">New Job</li>
    </ul>
  </div>
  <div class="mb-10">
    <form
      method="post"
      class="mx-auto max-w-2xl p-4 rounded-lg bg-gray-50 shadow"
    >
      <div class="flex flew-col mb-8 justify-center space-x-8">
        <div class="flex-1">
          <label class="block" for="job_name"
            ><span>Job Name <span class="text-red-800">*</span></span>
            <input
              id="job_name"
              name="job_name"
              class="block w-full"
              type="text"
              maxlength="255"
              value=""
            />
          </label>
          <label class="block" for="description"
            ><span>Description <span class="text-red-800">*</span></span>
            <textarea
              class="block w-full"
              id="job_description"
              name="job_description"
            ></textarea>
          </label>
        </div>
        <div class="flex-1">
          <label class="block" for="location-select"
            ><span>Location <span class="text-red-800">*</span></span>
            <!--
            <select name="location" id="location-select" class="block w-full">
              <option value="">--Please choose an option--</option>
              <option value="dog">Dog</option>
              <option value="cat">Cat</option>
              <option value="hamster">Hamster</option>
              <option value="parrot">Parrot</option>
              <option value="spider">Spider</option>
              <option value="goldfish">Goldfish</option>
            </select>
            -->
            <input
              id="job_location"
              name="job_location"
              class="block w-full"
              type="text"
              maxlength="255"
              value=""
            />
          </label>
        </div>
      </div>
      <input type="hidden" id="tree_data" name="tree_data" />
      <div class="overflow-auto mb-4">
        <div id="jstree"></div>
      </div>
      <div class="flex flex-row justify-end">
        <a
          class="mr-3 text-gray-800 py-1 px-3 rounded-lg bg-gray-200 border-2 border-gray-200 hover:border-gray-300 hover:bg-gray-300"
          href="{{ url_for('projects_bp.projects_project', project_id=1)
                                  }}"
          >Cancel</a
        >
        <input
          id="saveForm"
          type="submit"
          name="submit"
          value="Create"
          class="cursor-pointer text-white py-1 px-3 rounded-lg bg-gray-700 border-2 border-gray-700 hover:border-gray-600 hover:bg-gray-600"
        />
      </div>
    </form>
  </div>
</main>
{% endblock %}
