{% extends "base.html" %} {% block main %}
<main class="container flex flex-col mx-auto p-8">
  <div class="border-b-2 mb-4">
    <ul class="">
      <li class="inline">
        <a href="{{ url_for('index') }}">Home</a>
      </li>
      <li class="inline">
        <svg
          class="inline w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </li>
      <li class="inline">
        <a
          href="{{ url_for('projects_bp.projects_index')
                                  }}"
          >Projects</a
        >
      </li>
      <li class="inline">
        <svg
          class="inline w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </li>
      <li class="inline">{{ project.name }}</li>
    </ul>
  </div>
  <div class="text-center">
    <h2 class="py-1 mb-3 text-3xl relative">
      {{ project.name }}
      <span class="absolute right-2 text-lg text-gray-500 italic"
        >{{ project.number }}</span
      >
    </h2>

    <div class="mx-auto flex flex-row mb-2 w-4/5">
      <div class="w-2/5 mr-8">
        <div class="group rounded shadow-lg relative">
          <a
            class="w-full absolute inset-x-0 top-0 hidden group-hover:inline-block py-1 text-white group-hover:bg-black group-hover:bg-opacity-50"
            href="/"
          >
            Change picture
          </a>
          <img
            class="object-contain"
            src="{{ url_for('static', filename='dist/images/nemo.png') }}"
            alt="Project Logo"
          />
        </div>
      </div>
      <div class="w-3/5 text-left">
        <p class="mb-4 text-justify">{{ project.description }}</p>
        <div class="flex flex-row">
          <div class="w-1/2">
            <div class="">
              <span class="inline-block w-16">MEPTY</span>
            </div>
            <div>
              <span class="inline-block w-16">Date</span
              ><time datetime="2018-07-07">July 7 2020 - ...</time>
            </div>
          </div>
          <div class="w-1/2">
            <div><span>Project Owner</span>{{ project.owner }}</div>
            <div class="flex flex-row items-center">
              <span class="inline-block w-16">Aktiv</span>
              <span class="text-green-600">{{ project.status }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-none text-center mb-2">
    <h3 class="py-1 mb-3 text-xl border-b">Jobs ({{ project.job_count() }})</h3>
  </div>
  <nav class="flex flex-none justify-end mb-4 px-2">
    <a
      class="btn btn-new flex flex-row items-center"
      href="{{ url_for('projects_bp.projects_job_new',
      project_id=project.id) }}"
    >
      <svg
        class="w-6 h-6 mr-2"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
      New Job
    </a>
  </nav>
  <div class="">
    <div>
      {% if project.job_count() > 0 %}
      <ul class="flex md:flex-wrap flex-col md:flex-row">
        {% for job in project.jobs %}
        <li class="md:w-1/2 xl:w-1/3 p-2">
          {% include "projects/partials/job_box.html" %}
        </li>
        {% endfor %}
      </ul>
      {% else %} No jobs.{% endif %}
    </div>
  </div>
</main>
{% endblock %}
