<div class="border border-gray-200 p-4 rounded-md shadow-md bg-gray-100">
  <div class="flex flex-col lg:flex-row mb-2">
    <div class="lg:w-2/5 mr-2">
      <img
        class="rounded object-contain shadow-sm"
        src="{{ url_for('static', filename='dist/images/nemo.png') }}"
        alt="Project Logo"
      />
    </div>
    <div class="lg:w-3/5">
      <h3 class="text-xl font-medium mb-1 truncate">{{ project.name }}</h3>
      <div>
        <span class="inline-block w-16">Nummer</span>{{ project.number }}
      </div>
      <div>
        <span class="inline-block w-16">Locations</span>{{ project.locations }}
      </div>
      <div>
        <span class="inline-block w-16">Dato</span
        ><time datetime="2018-07-07">{{ project.date }}</time>
      </div>
      <div>
        <span class="inline-block w-16">Jobs</span>{{ project.job_count() }}
      </div>
      <div class="flex flex-row items-center">
        <span class="inline-block w-16">Aktiv</span>
        <span class="text-green-600">{{ project.status }}</span>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-end">
    <a
      class="btn btn-submit"
      href="{{ url_for('projects_bp.projects_project', project_id
                = project.id) }}"
      >Open</a
    >
  </div>
</div>
