<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <title>Hello</title>
    <link
      href="{{ url_for('static', filename='styles.min.css') }}"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 overflow-y-scroll">
    <div class="p-6">
      <div
        class="bg-white flex flex-col mx-auto container rounded-lg shadow-lg"
      >
        <header
          class="flex-none flex flex-row justify-end bg-gradient-to-r from-red-100 to-blue-200 rounded-t-lg"
        >
          <img
            class="m-2"
            src="{{ url_for('static', filename='nina.png') }}"
            alt="NINA Logo"
          />
        </header>
        {% block main %}{% endblock %}
      </div>
    </div>
  </body>
</html>
