<!--
{% block extra_js %}
    /* http://localhost:5500/projects/job.project_id/jobs/job.if */
    btn = $("#btn-toggle-job");

    btn.bind("click", function () {
      $.ajax({
        type: "PUT",
        url:
          "/projects/{{ job.project_id }}/jobs/{{ job.id}}/toggle",
        dataType: "json",
      }).done(function (data) {
        btn.removeClass("btn-" + data["old_status"])
        btn.text(data["new_status"].capitalize())
        btn.addClass("btn-" + data["new_status"])
      });
      return false;
    });
{% endblock %}
-->

{% extends "base.html" %} {% block main %}
<main class="container flex flex-col mx-auto p-8">
  <div class="border-b-2 mb-4">
    <ul class="">
      <li class="inline">
        <a href="{{ url_for('index') }}">Home</a>
      </li>
      <li class="inline">
        <svg
          class="inline w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </li>
      <li class="inline">
        <a
          href="{{ url_for('projects_bp.projects_index')
                                  }}"
          >Projects</a
        >
      </li>
      <li class="inline">
        <svg
          class="inline w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </li>
      <a
        href="{{ url_for('projects_bp.projects_project',
              project_id=job.project_id)
                                  }}"
        >{{ job.project_name }}</a
      >
      <li class="inline">
        <svg
          class="inline w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </li>
      <li class="inline">{{ job.name }}</li>
    </ul>
  </div>
  <div class="flex-none text-center relative">
    <h3 class="py-1 mb-3 text-2xl">
      {{ job.name }}<span class="absolute right-2 text-lg text-gray-500 italic"
        >#303030</span
      >
    </h3>
  </div>
  <div>
    <div class="mx-auto w-3/5 text-left mb-8">
      <p class="mb-4 pb-2 border-b-2">{{ job.description }}</p>
      <div class="flex flex-row mb-4 pb-2 border-b-2">
        <div class="w-1/2">
          <div class="flex flex-row">
            <span class="inline-block w-16">ID</span>{{ job.id }}
          </div>
          <div class="">
            <span class="inline-block w-16">Location</span>Mjøsa, Glomma, Lågen,
            ...
          </div>
          <div>
            <span class="inline-block w-16">Date</span
            ><time datetime="2018-07-07">July 7</time>
          </div>
        </div>
        <div class="w-1/2">
          <div><span class="inline-block w-16">Video</span>100</div>
          <div class="flex flex-row items-center">
            <span class="inline-block w-16">Status</span>
            <span class="text-green-600"> {{ job._status }} </span>
          </div>
          <!-- <div><span>Klasser</span>Mort, Abbor, Vedebuk</div> -->
        </div>
      </div>
      <div class="mb-8">
        <h4 class="text-lg">Total counts:</h4>
        <ul class="ml-8">
          <li class="inline">Salmon: 5,</li>
          <li class="inline">Trout: 2,</li>
          <li class="inline">Pike: 3,</li>
          <li class="inline">Tuna: 5</li>
        </ul>
      </div>
      <div class="flex flex-row justify-between">
        <div class="flex flex-row items-center">
          <span class="mr-2">Status:</span
          ><button
            class="btn btn-{{ job._status|lower }} flex flex-row items-center"
            type="submit"
            id="btn-toggle-job"
          >
            {{ job._status }}
          </button>
        </div>
        <a
          class="btn btn-submit"
          href="{{ url_for('projects_bp.projects_job_make_csv', job_id = job.id, project_id=job.project_id)}}"
        >
          Export to CSV
        </a>
      </div>
    </div>
  </div>
  <div class="flex-none text-center mb-2 tabbed">
    <input name="tabbed" id="tabbed1" type="radio" checked />
    <section>
      <h3 class="py-1 mb-3 text-2xl"><label for="tabbed1">Objects</label></h3>
      <div class="border-2">
        <table class="bg-gray-100 table-auto w-full">
          <thead class="bg-gray-200 border-b">
            <tr class="text-lg">
              <td class="w-16 px-2">No.</td>
              <td class="px-2">Type</td>
              <td class="px-2">Start</td>
              <td class="px-2">Stop</td>
              <td class="px-2">Video</td>
            </tr>
          </thead>
          <tbody class="">
            {% for detection in detections %}
            <tr class="space-y-1">
              <td class="px-2">{{ detection.id }}</td>
              <td class="px-2">{{ detection.report_type }}</td>
              <td class="px-2">{{ detection.start }}</td>
              <td class="px-2">{{ detection.stop }}</td>
              <td class="px-2">{{ detection.video_path }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    <input name="tabbed" id="tabbed2" type="radio" />
    <section class="flex-none text-center mb-2">
      <h3 class="py-1 mb-3 text-2xl"><label for="tabbed2">Videos</label></h3>
      <div class="border-2">
        <table class="bg-gray-100 table-auto w-full">
          <thead class="bg-gray-200 border-b">
            <tr class="text-lg">
              <td class="w-16 px-2">No.</td>
              <td class="px-2">Lokasjon</td>
              <td class="px-2">Status</td>
              <td class="px-2">Filsti</td>
            </tr>
          </thead>
          <tbody class="">
            {% for video in videos %}
            <tr class="space-y-1">
              <td class="px-2">{{ video.id }}</td>
              <td class="px-2">{{ video.location }}</td>
              <td class="px-2">{{ video.status }}</td>
              <td class="px-2">{{ video.video_path }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </div>
</main>
{% endblock %}
