{% extends "base.html" %} {% block main %}
<main class="container flex flex-col mx-auto p-8">
  <div class="border-b-2 mb-4">
    <ul class="">
      <li class="inline"><a href="/">Home</a></li>
      <li class="inline">
        <svg
          class="inline w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </li>
      <li class="inline">
        <a
          href="{{ url_for('projects_bp.projects_index')
                                  }}"
          >Projects</a
        >
      </li>
      <li class="inline">
        <svg
          class="inline w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </li>
      <li class="inline font-medium">New Project</li>
    </ul>
  </div>
  <div class="mb-10">
    <form
      enctype="multipart/form-data"
      method="post"
      class="mx-auto max-w-2xl border-2 p-4 rounded-lg bg-gray-50"
    >
      <div class="flex flew-col mb-8 justify-center space-x-8">
        <div class="flex-1">
          <label class="block" for="project_name"
            ><span>Name <span class="text-red-800">*</span></span>
            <input
              id="project_name"
              name="project_name"
              class="block w-full"
              type="text"
              maxlength="255"
              required="required"
            />
          </label>
          <label class="block" for="project_name"
            ><span>Number (ID)<span class="text-red-800">*</span></span>
            <input
              id="project_id"
              name="project_id"
              class="block w-full"
              type="text"
              maxlength="255"
              required="required"
            />
          </label>
          <label class="block" for="startdate"
            ><span>Location</span>
            <input
              id="project_location"
              name="project_location"
              class="block w-full"
              type="text"
              maxlength="255"
          /></label>
        </div>
        <div class="flex-1">
          <label class="block" for="description"
            ><span>Description <span class="text-red-800">*</span></span>
            <textarea
              class="block w-full h-44"
              id="project_desc"
              name="project_desc"
              maxlength="256"
              required="required"
            ></textarea>
          </label>
          <!-- <label class="block" for="logo"> -->
          <!--   <span>Logo</span> -->
          <!--   <input id="logo" name="logo" class="block w-full" type="file" /> -->
          <!-- </label> -->
        </div>
      </div>
      <div class="flex flex-row justify-end">
        <a
          class="mr-3 btn btn-cancel"
          href="{{ url_for('projects_bp.projects_index')
                                  }}"
        >
          Cancel
        </a>
        <input
          id="saveForm"
          type="submit"
          name="submit"
          value="Create"
          class="cursor-pointer btn btn-submit"
        />
      </div>
    </form>
  </div>
</main>
{% endblock %}
