<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Detection and counting of freshwater fish = NINA</title>
    <link
      rel="icon"
      href="{{ url_for('static',
    filename='dist/images/favicon.png') }}"
    />
    <link
      href="{{ url_for('static', filename='dist/css/style.min.css') }}"
      rel="stylesheet"
    />
  </head>
  <body class="relative h-full bg-gray-100">
    <div class="p-6">
      <div
        class="container mx-auto flex max-w-screen-xl flex-col rounded-lg bg-white shadow-lg"
      >
        <header
          class="flex flex-none flex-row justify-center rounded-t-lg bg-gradient-to-r from-nina-teal to-nina-orange"
        >
          <a href="{{ url_for('index') }}">
            <img
              class="m-2 drop-shadow-lg filter"
              src="{{ url_for('static', filename='dist/images/nina.png') }}"
              alt="NINA Logo"
            />
          </a>
        </header>
        {% block main %}{% endblock %}
      </div>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='dist/js/projects.min.js') }}"
    ></script>
  </body>
</html>
