@import "jstree/src/themes/default/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base style for buttons */

.btn {
  @apply py-1 px-3 rounded-lg border-2 shadow-sm transition duration-300;
}

/* Regular & Form Buttons */

.btn-cancel {
  @apply text-gray-900 bg-gray-200 border-gray-200 hover:border-gray-300 hover:bg-gray-300;
}

.btn-new {
  @apply text-gray-600 bg-gray-100 border-gray-100 hover:text-gray-900 hover:bg-gray-200 hover:border-gray-200 active:bg-gray-300 font-semibold shadow;
}

.btn-submit {
  @apply text-gray-50 bg-gray-700 border-gray-700 hover:border-gray-500 hover:bg-gray-500 disabled:opacity-50 disabled:hover:text-gray-50 disabled:hover:bg-gray-700;
}

/* Status Buttons (Job Action) */

.btn-pending {
  @apply py-2  ring ring-gray-300 ring-offset-2 bg-gray-50 border-gray-200 border shadow-none hover:border-gray-50 hover:bg-gray-400 hover:text-white;
}
.btn-pending::before {
  content: url('data:image/svg+xml;utf8,<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>');
  @apply float-left inline-block h-6 w-6 mr-1;
}

.btn-queued {
  @apply text-gray-900 border-white shadow-none italic cursor-default;
}
.btn-queued::before {
  content: url('data:image/svg+xml;utf8,<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>');
  @apply float-left inline-block h-6 w-6 mr-1;
}

.btn-paused {
  @apply text-gray-900 hover:text-gray-800 bg-yellow-400 border-yellow-400 hover:border-yellow-300 hover:bg-yellow-300;
}

.btn-paused::before {
  content: url('data:image/svg+xml;utf8,<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>');
  @apply float-left inline-block h-6 w-6 mr-1;
}

.btn-paused:hover::before {
  content: url('data:image/svg+xml;utf8,<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>');
  @apply float-left inline-block h-6 w-6 mr-1;
}

.btn-running {
  @apply text-gray-900 italic shadow-none border-white cursor-auto;
}

.btn-running::before {
  content: url('data:image/svg+xml;utf8,<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>');
  @apply animate-spin float-left inline-block h-6 w-6 mr-1;
}

.btn-done {
  @apply text-gray-900 border-white shadow-none italic cursor-auto;
}

.btn-done::before {
  content: url('data:image/svg+xml;utf8,<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>');
  @apply float-left inline-block h-6 w-6 mr-1;
}

/* Tabbed style inside a single job */

.tabbed > input {
  display: none;
}

.tabbed > input:not(:checked) + section > div {
  display: none;
}

.tabbed > section > h3 {
  float: left;
}

.tabbed > section > div {
  float: right;
  width: 100%;
  margin: 2.5em 0 0 -100%;
}

.tabbed {
  float: left;
  width: 100%;
}

.tabbed > section > h3 > label {
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.tabbed > section > div {
  box-sizing: border-box;
  padding: 0.5em 0.75em;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.0625);
  background: #fff;
}

.tabbed > section > h3 {
  box-sizing: border-box;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  font-size: 1em;
  font-weight: normal;
}

.tabbed > section > h3 > label {
  display: block;
  padding: 0.25em 0.75em;
  border: 1px solid #ddd;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.0625);
  background: #fff;
}

.tabbed > input:first-child + section > h3 {
  padding-left: 1em;
}

.tabbed > section > div {
  position: relative;
  z-index: 1;
}

.tabbed > input:checked + section > h3 {
  position: relative;
  z-index: 2;
}
