{% extends "base.html" %} {% block main %}
<main class="flex flex-col mx-auto p-8 w-full">
  <div class="mb-6">
    <ul class="border-b-2">
      <li class="inline"><a href="/">Home</a></li>
    </ul>
  </div>
  <div class="flex flex-row justify-center space-x-4 mb-6">
    <button
      class="hover:bg-gray-100 border flex flex-col w-48 h-48 rounded shadow-lg justify-center items-center"
    >
      <a
        class="w-full h-full flex flex-col justify-center items-center text-xl"
        href="/projects"
      >
        <svg
          class="w-16 h-16"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"
          ></path>
        </svg>
        <span>Projects</span>
      </a>
    </button>
    <button
      class="hover:bg-gray-100 border flex flex-col w-48 h-48 rounded shadow-lg justify-center items-center"
    >
      <a
        class="w-full h-full flex flex-col justify-center items-center text-xl"
        href="/jobs"
      >
        <svg
          class="w-16 h-16"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          ></path>
        </svg>
        <span>Admin</span>
      </a>
    </button>
  </div>
</main>
{% endblock %}
