/* Dialog */

#preview-dialog-bg {
  @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 p-4;
  z-index: 8000;
}

#preview-dialog {
  @apply relative max-w-2xl flex-1 rounded-lg bg-gray-200 p-4 shadow-lg;
  z-index: 9000;
}

#preview-dialog iframe {
  z-index: 9001;
}

#preview-dialog button {
  z-index: 9002;
  @apply absolute -right-4 -top-4 flex h-10 w-10 items-center justify-center rounded-full border bg-gray-100 text-gray-700 shadow;
}
