{% extends "base.html" %} {% block main %}
<nav class="border-b px-8 py-2 italic">
  <ul class="">
    <li class="inline hover:border-b-2 hover:border-gray-800">
      <a href="{{ url_for('index') }}">Home</a>
    </li>
    <li class="inline">
      <svg
        class="inline h-4 w-4"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </li>
    <li class="inline hover:border-b-2 hover:border-gray-800">
      <a
        href="{{ url_for('projects_bp.projects_index')
                                  }}"
        >Projects</a
      >
    </li>
    <li class="inline">
      <svg
        class="inline h-4 w-4"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </li>
    <li class="inline hover:border-b-2 hover:border-gray-800">
      <a
        href="{{ url_for('projects_bp.projects_project',
              project_id=job.project_id)
                                  }}"
        >{{ job.project_name }}</a
      >
    </li>
    <li class="inline">
      <svg
        class="inline h-4 w-4"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </li>
    <li class="inline font-medium">{{ job.name }}</li>
  </ul>
</nav>
<main class="container mx-auto flex flex-col p-8">
  <div
    class="mx-auto mb-8 flex w-full max-w-2xl flex-col items-center justify-center"
  >
    <h3 class="mb-3 block py-1 text-2xl">{{ job.name }}</h3>
    <p class="mb-4 block w-full pb-2 text-left text-gray-800">
      {{ job.description }}
    </p>
    <div class="mb-8 flex w-full flex-row border-b-2 pb-2">
      <div class="flex flex-row items-center italic text-gray-800">
        <svg
          class="mr-2 inline h-4 w-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
          ></path></svg
        >{{ job.location }}
      </div>
    </div>
    <div class="mb-8 flex w-full max-w-lg flex-col items-center">
      <h4 class="mb-2 block text-center text-xl">Statistics</h4>
      {% if job._status == "Done" %}
      <div class="flex w-full max-w-md flex-row">
        <div class="w-1/2">
          <h5 class="mb-2 block text-center font-semibold">Total</h5>
          <ul class="table border-r border-gray-100 pr-4">
            <li class="table-row">
              <span class="table-cell w-full">Objects</span
              ><span class="table-cell text-right"
                >{{ job.stats["total_objects"] }}</span
              >
            </li>
            <li class="table-row">
              <span class="table-cell w-full">Species</span
              ><span class="table-cell text-right"
                >{{ job.stats["total_labels"] }}</span
              >
            </li>
          </ul>
        </div>
        <div class="w-1/2">
          <h5 class="mb-2 block text-center font-semibold">Counter</h5>
          <ul class="table border-l border-gray-100 pl-8 pr-4">
            {% for label, count in job.stats["labels"].items()|sort %}
            <li class="table-row">
              <span class="table-cell w-full">{{ label }}</span
              ><span class="table-cell text-right">{{ count }}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% else %}
      <span class="m-4 inline-block italic text-gray-700"
        >Not enough information gathered to display statistics.</span
      >
      {% endif %}
    </div>
  </div>
  <div class="tabbed relative mb-2 flex-none text-center">
    <a
      class="btn btn-submit absolute -top-2 right-4"
      href="{{ url_for('projects_bp.projects_job_make_csv', job_id = job.id, project_id=job.project_id)}}"
    >
      Export to CSV
    </a>
    <input name="tabbed" id="tabbed1" type="radio" checked />
    <section>
      <h3 class="mb-3 py-1 text-2xl">
        <label for="tabbed1"
          ><svg
            class="mr-2 inline h-6 w-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
            ></path>
          </svg>
          Objects ({{ job.stats["total_objects"] }})
        </label>
      </h3>
      <div class="border-2">
        {% if job._status == "Done" %}
        <table id="object_list" class="display w-full table-auto border">
          <thead class="border-b bg-gray-100">
            <tr class="font-bold">
              <td class="number w-6 p-2"></td>
              <td style="display: none" class="number w-6 p-2"></td>
              <td class="w-28 p-2">Label</td>
              <td class="p-2">Time in</td>
              <td class="p-2">Time Out</td>
              <td class="w-28 p-2">Probability</td>
              <td class="w-28 p-2">Video ID</td>
              <td class="w-8"></td>
            </tr>
          </thead>
        </table>
        {% else %}<span class="inline-block px-4 py-8">
          <button
            class="btn btn-{{ job._status|lower }} flex flex-row
            items-center"
            type="submit"
            id="btn-toggle-job"
          >
            {{ job._status|replace("Pending","Start Job") }} - {{ job.progress
            }} %
          </button> </span
        >{% endif %}
      </div>
    </section>
    <input name="tabbed" id="tabbed2" type="radio" />
    <section class="mb-2 flex-none text-center">
      <h3 class="mb-3 py-1 text-2xl">
        <label for="tabbed2"
          ><svg
            class="mr-2 inline h-6 w-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"
            ></path></svg
          >Videos ({{ job.videos|length }})</label
        >
      </h3>
      <div class="border-2">
        <table class="w-full table-auto border">
          <thead class="border-b bg-gray-100">
            <tr class="text-lg">
              <td class="w-12 px-2">ID</td>
              <td class="px-2">Path</td>
              <td class="w-24 px-2">Frames</td>
              <td class="w-52 px-2">Timestamp</td>
            </tr>
          </thead>
          <tbody class="">
            {% for video in job.videos %}
            <tr class="h-8 border-b">
              <td class="border-r px-2 text-right">{{ video.id }}</td>
              <td class="border-r px-2 text-left">{{ video._path }}</td>
              <td class="border-r px-2 text-right">{{ video.frame_count }}</td>
              <td class="px-2">{{ video.timestamp }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </div>
</main>
{% endblock %}
