{% extends "base.html" %} {% block main %}
<nav class="border-b-2 px-8 py-2 italic">
  <ul class="">
    <li class="inline hover:border-b-2 hover:border-gray-800">
      <a href="/">Home</a>
    </li>
    <li class="inline">
      <svg
        class="inline h-4 w-4"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </li>
    <li class="inline hover:border-b-2 hover:border-gray-800">
      <a
        href="{{ url_for('projects_bp.projects_index')
                                  }}"
        >Projects</a
      >
    </li>
    <li class="inline">
      <svg
        class="inline h-4 w-4"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </li>
    <li class="inline font-medium">New Project</li>
  </ul>
</nav>
<main class="container mx-auto flex flex-col p-8">
  <div class="mb-10">
    <form
      enctype="multipart/form-data"
      method="post"
      class="mx-auto max-w-2xl rounded-lg border-2 bg-gray-50 p-4"
    >
      <div class="flew-col mb-8 flex justify-center space-x-8">
        <div class="flex-1">
          <label class="block" for="project_name"
            ><span>Name <span class="text-red-800">*</span></span>
            <input
              id="project_name"
              name="project_name"
              class="form-input block w-full"
              type="text"
              maxlength="255"
              required="required"
            />
          </label>
          <label class="block" for="project_name"
            ><span>Number (ID)<span class="text-red-800">*</span></span>
            <input
              id="project_id"
              name="project_id"
              class="form-input block w-full"
              type="text"
              maxlength="255"
              required="required"
            />
          </label>
          <label class="block" for="startdate"
            ><span>Location</span>
            <input
              id="project_location"
              name="project_location"
              class="form-input block w-full"
              type="text"
              maxlength="255"
          /></label>
        </div>
        <div class="flex-1">
          <label class="block" for="description"
            ><span>Description <span class="text-red-800">*</span></span>
            <textarea
              class="form-textarea block h-44 w-full"
              id="project_desc"
              name="project_desc"
              maxlength="256"
              required="required"
            ></textarea>
          </label>
          <!-- <label class="block" for="logo"> -->
          <!--   <span>Logo</span> -->
          <!--   <input id="logo" name="logo" class="block w-full" type="file" /> -->
          <!-- </label> -->
        </div>
      </div>
      <div class="flex flex-row justify-end">
        <a
          class="btn btn-cancel mr-3"
          href="{{ url_for('projects_bp.projects_index')
                                  }}"
        >
          Cancel
        </a>
        <input
          id="saveForm"
          type="submit"
          name="submit"
          value="Create"
          class="btn btn-submit cursor-pointer"
        />
      </div>
    </form>
  </div>
</main>
{% endblock %}
