{% extends "base.html" %} {% block main %}
<main class="container flex flex-col mx-auto p-4">
  <div class="border-b-2 mb-4">
    <ul class="">
      <li class="inline"><a href="/">Home</a></li>
      <li class="inline">
        <svg class="inline w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg></li>
      <li class="inline"><a href="/jobs">Jobs</a></li>
      <li class="inline">
        <svg class="inline w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg></li>
      <li class="inline">New Job</li>
    </ul>
  </div>
  <h2 class="text-center text-2xl pb-3">New Job</h2>
  <div class="px-8">
    <form
      class="appnitro"
      enctype="multipart/form-data"
      method="post"
      action=""
    >
      <label class="description" for="element_1">Name </label>
      <div>
        <input
          id="element_1"
          name="element_1"
          class="element text medium"
          type="text"
          maxlength="255"
          value=""
        />
      </div>

      <label class="description" for="element_2">Video </label>
      <div>
        <input
          id="element_2"
          name="element_2"
          class="element file"
          type="file"
        />
      </div>

      <h3>Time:</h3>

      <label class="description" for="element_5">From tid </label>
      <span>
        <input
          id="element_5_1"
          name="element_5_1"
          class="element text"
          size="2"
          type="text"
          maxlength="2"
          value=""
        />
        :
        <label>HH</label>
      </span>
      <span>
        <input
          id="element_5_2"
          name="element_5_2"
          class="element text"
          size="2"
          type="text"
          maxlength="2"
          value=""
        />
        :
        <label>MM</label>
      </span>
      <span>
        <input
          id="element_5_3"
          name="element_5_3"
          class="element text"
          size="2"
          type="text"
          maxlength="2"
          value=""
        />
        <label>SS</label>
      </span>
      <span>
        <select
          class="element select"
          style="width: 4em"
          id="element_5_4"
          name="element_5_4"
        >
          <option value="AM">AM</option>
          <option value="PM">PM</option>
        </select>
        <label>AM/PM</label>
      </span>

      <label class="description" for="element_7">Date </label>
      <span>
        <input
          id="element_7_1"
          name="element_7_1"
          class="element text"
          size="2"
          maxlength="2"
          value=""
          type="text"
        />
        /
        <label for="element_7_1">MM</label>
      </span>
      <span>
        <input
          id="element_7_2"
          name="element_7_2"
          class="element text"
          size="2"
          maxlength="2"
          value=""
          type="text"
        />
        /
        <label for="element_7_2">DD</label>
      </span>
      <span>
        <input
          id="element_7_3"
          name="element_7_3"
          class="element text"
          size="4"
          maxlength="4"
          value=""
          type="text"
        />
        <label for="element_7_3">YYYY</label>
      </span>

      <span id="calendar_7">
        <img
          id="cal_img_7"
          class="datepicker"
          src="calendar.gif"
          alt="Pick a date."
        />
      </span>

      <label class="description" for="element_6">Start tid </label>
      <span>
        <input
          id="element_6_1"
          name="element_6_1"
          class="element text"
          size="2"
          type="text"
          maxlength="2"
          value=""
        />
        :
        <label>HH</label>
      </span>
      <span>
        <input
          id="element_6_2"
          name="element_6_2"
          class="element text"
          size="2"
          type="text"
          maxlength="2"
          value=""
        />
        :
        <label>MM</label>
      </span>
      <span>
        <input
          id="element_6_3"
          name="element_6_3"
          class="element text"
          size="2"
          type="text"
          maxlength="2"
          value=""
        />
        <label>SS</label>
      </span>
      <span>
        <select
          class="element select"
          style="width: 4em"
          id="element_6_4"
          name="element_6_4"
        >
          <option value="AM">AM</option>
          <option value="PM">PM</option>
        </select>
        <label>AM/PM</label>
      </span>

      <label class="description" for="element_8">Date </label>
      <span>
        <input
          id="element_8_1"
          name="element_8_1"
          class="element text"
          size="2"
          maxlength="2"
          value=""
          type="text"
        />
        /
        <label for="element_8_1">MM</label>
      </span>
      <span>
        <input
          id="element_8_2"
          name="element_8_2"
          class="element text"
          size="2"
          maxlength="2"
          value=""
          type="text"
        />
        /
        <label for="element_8_2">DD</label>
      </span>
      <span>
        <input
          id="element_8_3"
          name="element_8_3"
          class="element text"
          size="4"
          maxlength="4"
          value=""
          type="text"
        />
        <label for="element_8_3">YYYY</label>
      </span>

      <span id="calendar_8">
        <img
          id="cal_img_8"
          class="datepicker"
          src="calendar.gif"
          alt="Pick a date."
        />
      </span>

      <label class="description" for="element_4">Speed </label>
      <div>
        <input
          id="element_4"
          name="element_4"
          class="element text medium"
          type="text"
          maxlength="255"
          value=""
        />
      </div>

      <input type="hidden" name="form_id" value="12620" />

      <input
        id="saveForm"
        class="button_text"
        type="submit"
        name="submit"
        value="Submit"
      />
    </form>
  </div>
</main>
{% endblock %}
