{% extends "base.html" %} {% block main %}
<main class="w-full flex flex-col mx-auto p-4">
  <div class="border-b-2 mb-4">
    <ul class="">
      <li class="inline"><a href="/">Home</a></li>
      <li class="inline">
        <svg
          class="inline w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </li>
      <li class="inline">Projects</li>
    </ul>
  </div>
  <div class="flex-none text-center">
    <h2 class="py-1 mb-3 text-2xl">Projects</h2>
  </div>
  <nav class="flex flex-none justify-end mb-4">
    <button
      class="rounded-md py-2 px-3 bg-gray-200 shadow-md text-sm font-semibold uppercase border-gray-300 border-2 hover:bg-blue-300"
    >
      <a class="flex flex-row items-center" href="/projects/new">
        <svg
          class="w-6 h-6 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6v6m0 0v6m0-6h6m-6 0H6"
          ></path>
        </svg>
        <span>New Project</span></a
      >
    </button>
  </nav>
  <div class="border-2 overflow-y-auto">
    <table class="bg-gray-100 table-auto">
      <thead class="bg-gray-200 border-b">
        <tr class="text-lg">
          <td class="px-2">No.</td>
          <td class="w-full px-2">Name</td>
          <td class="px-2">Status</td>
          <td class="px-2">Progress</td>
          <td class="px-2">Action</td>
        </tr>
      </thead>
      <tbody class="">
        {% for job in jobs %}
        <tr class="space-y-1">
          <td class="text-right px-2">{{ job.id }}</td>
          <td class="px-2">{{ job.name }}</td>
          <td class="px-2">{{ job.status }}</td>
          <td class="text-right px-2">100 %</td>
          <td class="px-2">
            <div class="flex flex-row">
              <button>
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
              </button>
              <button>
                <a href="/report">
                  <svg
                    class="text-purple-600 w-6 h-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
                    ></path>
                  </svg>
                </a>
              </button>
              <button>
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"
                  ></path>
                </svg>
              </button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}
